#annotation-background {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

#annotation-popup {
    visibility: hidden;
/*    min-width: 250px; */
    width: auto;
    height: fit-content;
/*    background-color: #efefef; */
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;     /* Rounded corners */
    border: 3px solid #73AD21;
    padding-top: 20px;
    padding-bottom: 16;
    padding-right: 15px;
    padding-left: 15px;
    position: fixed;
    bottom: 200px;
    left: 25%;
    z-index: 30;
    overflow-y: auto;
}

.annotate-form {
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 10pt;
}

.field-row {
  overflow: hidden;
  padding-bottom: 10px;
}

.field-row .label-container {
  width: 25%;
  float: left;
}

.field-row .field-container {
  width: 75%;
  float: left;
}

#checkstep-selected-text {
    font-weight: bold;
    font-style: italic;
}

#annotation-popup .checkstep-button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#annotation-popup .checkstep-textarea {
  width: 90%;
  margin: 15px;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: black;
  background-color: #f8f8f8;
}

