#annotation-background {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

#annotation-popup {
    visibility: hidden;
    width: auto;
    min-width: 250px;
    max-width: 60vw;
    height: fit-content;
    max-height: 80vh;
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;     /* Rounded corners */
    padding-top: 20px;
    padding-bottom: 16;
    padding-right: 15px;
    padding-left: 15px;
    position: fixed;
    bottom: 200px;
    top: 60px;
    z-index: 30;
    overflow: auto;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
}

.annotate-form {
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 10pt;
}

.field-row {
  overflow: hidden;
  padding-bottom: 10px;
}

.field-row .label-container {
  width: 25%;
  float: left;
  text-align: right;
  padding-right: 2px;
  color: rgba(0, 0, 0, 0.6);
}

.field-row .field-container {
  width: 70%;
  float: right;
}

#category-select {
    background-color: #f8f8f8;
}

#checkstep-selected-text {
    font-weight: bold;
    font-style: italic;
}

div#subcategory-list ul {
    padding: 0px;
}

input.checkstep-checkbox {
  content: '';
  appearance: checkbox !important;
  border: 1px solid grey;
  border-radius: 3px;
  display: inline !important;
  width: 16px !important;
  height: 16px !important;
  margin-right: 0.5em;
  margin-top: 0.5em;
  vertical-align: -2px;
}

#annotation-popup .checkstep-button {
  background-color: #3479F6; /* Blue */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 22px;
  margin-right: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#checkstep-button-group {
  text-align: center;
  margin: 12px;
  position: relative;
}

#annotation-popup .checkstep-textarea {
  width: 90%;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: black;
  background-color: #f8f8f8;
}

